# Name: Dnyanal Shelke
# TY D  Roll no:22
# Gr No:11810571

## Assignment 4: Association Rules
### Online-Retail Dataset

In [1]:
%autosave 5

Autosaving every 5 seconds

## Importing Libraries

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing Dataset

In [5]:
df = pd.read_csv(r"C:\Users\hp\Documents\DS LAB\Online_Retail.csv")
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [6]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [7]:
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [8]:
df.shape

(541909, 8)

## Group data in the dataframe by InvoiceNo and Invoice Date

In [9]:
df1 = df.groupby(['InvoiceNo','InvoiceDate'])
df1.first()

,,StockCode,Description,Quantity,UnitPrice,CustomerID,Country
InvoiceNo,InvoiceDate,,,,,,
536365,2010-12-01 08:26:00,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom
536366,2010-12-01 08:28:00,22633,HAND WARMER UNION JACK,6,1.85,17850.0,United Kingdom
536367,2010-12-01 08:34:00,84879,ASSORTED COLOUR BIRD ORNAMENT,32,1.69,13047.0,United Kingdom
536368,2010-12-01 08:34:00,22960,JAM MAKING SET WITH JARS,6,4.25,13047.0,United Kingdom
536369,2010-12-01 08:35:00,21756,BATH BUILDING BLOCK WORD,3,5.95,13047.0,United Kingdom
...,...,...,...,...,...,...,...
C581484,2011-12-09 09:27:00,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,2.08,16446.0,United Kingdom
C581490,2011-12-09 09:57:00,22178,VICTORIAN GLASS HANGING T-LIGHT,-12,1.95,14397.0,United Kingdom
C581499,2011-12-09 10:28:00,M,Manual,-1,224.69,15498.0,United Kingdom
C581568,2011-12-09 11:57:00,21258,VICTORIAN SEWING BOX LARGE,-5,10.95,15311.0,United Kingdom
C581569,2011-12-09 11:58:00,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,1.25,17315.0,United Kingdom

## Total number of Transactions and items of transaction data

In [10]:
len(df1)

25943

In [11]:
transactions = []
des = df['StockCode']
for x, y in df1.groups.items():
    y = list(y)
    transactions.append([des[y[j]] for j in range(len(y))])
transactions[0]

['85123A', '71053', '84406B', '84029G', '84029E', '22752', '21730']

## Total Number of Transactions with 1 item, 2 items , 3 items and 8 items

In [12]:
i1 = i2 = i3 = i8 = 0
for i in transactions:
    if len(i)==1:
        i1 = i1 + 1
    if len(i)==2:
        i2 = i2 + 1
    if len(i)==3:
        i3 = i3 + 1
    if len(i)==8:
        i8 = i8 + 1
print("Transaction with 1 item : "+str(i1))
print("Transaction with 2 item : "+str(i2))
print("Transaction with 3 item : "+str(i3))
print("Transaction with 8 item : "+str(i8))

Transaction with 1 item : 5850
Transaction with 2 item : 1617
Transaction with 3 item : 1095
Transaction with 8 item : 632

## Number of items in the longest transaction

In [13]:
print("Number of items in longest transaction ",df1.count().max()[0])

Number of items in longest transaction  1114

In [14]:
trans = []
for i in range(10):
    trans.append(transactions[i])
trans[1]

['22633', '22632']

## Training the Apriori model on the dataset

In [15]:
from apyori import apriori
rules = apriori(trans, min_support = 0.001, min_confidence = 0.8,max_length = 3)
results = list(rules)
print("There are {} RULES derived.".format(len(results)))
for i in range(20):
  print(results[i])

There are 2307 RULES derived.
RelationRecord(items=frozenset({'10002', '21035'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'21035'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'21035'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'10002', '21724'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'21724'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'21724'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'10002', '21731'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'21731'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'21731'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'10002', '21791'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'21791'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'21791'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'21883', '10002'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'21883'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'21883'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'10002', '21913'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'21913'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'21913'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'10002', '22326'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'22326'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'22326'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'22492', '10002'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'22492'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'22492'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'10002', '22540'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'22540'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'22540'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'10002', '22544'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'22544'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'22544'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'22629', '10002'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'22629'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'22629'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'22631', '10002'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'22631'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'22631'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'22659', '10002'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'22659'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'22659'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'22661', '10002'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'22661'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'22661'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'10002', '22726'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'22726'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'22726'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'10002', '22727'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'22727'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'22727'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'10002', '22728'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'22728'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'22728'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'22900', '10002'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'22900'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'22900'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'10002', 'POST'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'POST'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'POST'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'20679', '21068'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'20679'}), items_add=frozenset({'21068'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'21068'}), items_add=frozenset({'20679'}), confidence=1.0, lift=10.0)])

## Print only top 10 rules in following format

In [17]:
i=0
for item in results:
  if i==10:
    break
  pair=item[0]
  items=[x for x in pair]
  print(items[0]+'->'+items[1])
  print("Support: " + str(item[1]))

  print("Confidence: " + str(item[2][0][2]))
  print("Lift: " + str(item[2][0][3]))
  print("===============================")
  i=i+1

10002->21035
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
10002->21724
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
10002->21731
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
10002->21791
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
21883->10002
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
10002->21913
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
10002->22326
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
22492->10002
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
10002->22540
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
10002->22544
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================

## Get all rules with 100% confidence

In [18]:
i=0
for item in results:
  if i==10:
    break
  pair=item[0]
  items=[x for x in pair]
  if item[2][0][2]==1:
    print(items[0]+'->'+items[1])
    print("Support: " + str(item[1]))

    print("Confidence: " + str(item[2][0][2]))
    print("Lift: " + str(item[2][0][3]))
    print("===============================")
    i=i+1

10002->21035
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
10002->21724
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
10002->21731
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
10002->21791
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
21883->10002
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
10002->21913
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
10002->22326
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
22492->10002
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
10002->22540
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
10002->22544
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================

## Visualizing the data

In [20]:
def inspect(results):
    lhs         = [tuple(result[2][0][0])[0] for result in results]
    rhs         = [tuple(result[2][0][1])[0] for result in results]
    supports    = [result[1] for result in results]
    confidences = [result[2][0][2] for result in results]
    lifts       = [result[2][0][3] for result in results]
    return list(zip(lhs, rhs, supports, confidences, lifts))
resultsinDataFrame = pd.DataFrame(inspect(results), columns = ['Left Hand Side', 'Right Hand Side', 'Support', 'Confidence', 'Lift'])
resultsinDataFrame

     Left Hand Side Right Hand Side  Support  Confidence  Lift
0             10002           21035      0.1         1.0  10.0
1             10002           21724      0.1         1.0  10.0
2             10002           21731      0.1         1.0  10.0
3             10002           21791      0.1         1.0  10.0
4             10002           21883      0.1         1.0  10.0
...             ...             ...      ...         ...   ...
2302         82494L          85123A      0.1         1.0   5.0
2303         84029E          84029G      0.2         1.0   5.0
2304         84029E          84029G      0.2         1.0   5.0
2305         84029E          85123A      0.2         1.0   5.0
2306         84029G          85123A      0.2         1.0   5.0

[2307 rows x 5 columns]

# Thank You