# Name : Katha Patel
# Roll No : 41
# GR No : 11810454
## Assignment 4 - Association Rules 
### Importing Libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### Importing the dataset

In [3]:
df = pd.read_csv('dataset/Online_Retail.csv',encoding='latin1')
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [4]:
df.shape

(541909, 8)

### Group data in the dataframe by InvoiceNo and Invoice Date

In [5]:
df1 = df.groupby(['InvoiceNo','InvoiceDate'])
df1.first()

,,StockCode,Description,Quantity,UnitPrice,CustomerID,Country
InvoiceNo,InvoiceDate,,,,,,
536365,12/1/2010 8:26,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom
536366,12/1/2010 8:28,22633,HAND WARMER UNION JACK,6,1.85,17850.0,United Kingdom
536367,12/1/2010 8:34,84879,ASSORTED COLOUR BIRD ORNAMENT,32,1.69,13047.0,United Kingdom
536368,12/1/2010 8:34,22960,JAM MAKING SET WITH JARS,6,4.25,13047.0,United Kingdom
536369,12/1/2010 8:35,21756,BATH BUILDING BLOCK WORD,3,5.95,13047.0,United Kingdom
...,...,...,...,...,...,...,...
C581484,12/9/2011 9:27,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,2.08,16446.0,United Kingdom
C581490,12/9/2011 9:57,22178,VICTORIAN GLASS HANGING T-LIGHT,-12,1.95,14397.0,United Kingdom
C581499,12/9/2011 10:28,M,Manual,-1,224.69,15498.0,United Kingdom
C581568,12/9/2011 11:57,21258,VICTORIAN SEWING BOX LARGE,-5,10.95,15311.0,United Kingdom
C581569,12/9/2011 11:58,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,1.25,17315.0,United Kingdom

### Total number Items of transaction data

In [6]:
df1.count()

,,StockCode,Description,Quantity,UnitPrice,CustomerID,Country
InvoiceNo,InvoiceDate,,,,,,
536365,12/1/2010 8:26,7,7,7,7,7,7
536366,12/1/2010 8:28,2,2,2,2,2,2
536367,12/1/2010 8:34,12,12,12,12,12,12
536368,12/1/2010 8:34,4,4,4,4,4,4
536369,12/1/2010 8:35,1,1,1,1,1,1
...,...,...,...,...,...,...,...
C581484,12/9/2011 9:27,1,1,1,1,1,1
C581490,12/9/2011 9:57,2,2,2,2,2,2
C581499,12/9/2011 10:28,1,1,1,1,1,1
C581568,12/9/2011 11:57,1,1,1,1,1,1
C581569,12/9/2011 11:58,2,2,2,2,2,2

### Total number of Transactions

In [7]:
len(df1)

25943

In [17]:
transactions = []
des = df['StockCode']
for x, y in df1.groups.items():
    y = list(y)
    transactions.append([des[y[j]] for j in range(len(y))])
transactions[0]

['85123A', '71053', '84406B', '84029G', '84029E', '22752', '21730']

### Total Number of Transactions with 1 item, 2 items , 3 items and 8 items

In [18]:
i1 = i2 = i3 = i8 = 0
for i in transactions:
    if len(i)==1:
        i1 = i1 + 1
    if len(i)==2:
        i2 = i2 + 1
    if len(i)==3:
        i3 = i3 + 1
    if len(i)==8:
        i8 = i8 + 1
print("Transaction with 1 item : "+str(i1))
print("Transaction with 2 item : "+str(i2))
print("Transaction with 3 item : "+str(i3))
print("Transaction with 8 item : "+str(i8))

Transaction with 1 item : 5850
Transaction with 2 item : 1617
Transaction with 3 item : 1095
Transaction with 8 item : 632

### Number of items in the longest transaction

In [10]:
df1.count().max()[0]

1114

In [19]:
trans = []
for i in range(10):
    trans.append(transactions[i])
trans[1]

['22633', '22632']

In [13]:
!pip install apyori

Collecting apyori
  Downloading https://files.pythonhosted.org/packages/5e/62/5ffde5c473ea4b033490617ec5caa80d59804875ad3c3c57c0976533a21a/apyori-1.1.2.tar.gz
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-cp36-none-any.whl size=5975 sha256=8942f1aaccd053d60ea116452445fe1e1d955a4f9406378cdf7a44e05fb47de8
  Stored in directory: /root/.cache/pip/wheels/5d/92/bb/474bbadbc8c0062b9eb168f69982a0443263f8ab1711a8cad0
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

### Training the Apriori model on the dataset

In [20]:
from apyori import apriori
rules = apriori(trans, min_support = 0.001, min_confidence = 0.8,max_length = 3)
results = list(rules)
print("There are {} RULES derived.".format(len(results)))
for i in range(20):
  print(results[i])

There are 2307 RULES derived.
RelationRecord(items=frozenset({'10002', '21035'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'21035'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'21035'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'10002', '21724'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'21724'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'21724'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'21731', '10002'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'21731'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'21731'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'10002', '21791'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'21791'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'21791'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'10002', '21883'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'21883'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'21883'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'21913', '10002'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'21913'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'21913'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'10002', '22326'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'22326'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'22326'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'22492', '10002'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'22492'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'22492'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'10002', '22540'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'22540'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'22540'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'10002', '22544'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'22544'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'22544'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'10002', '22629'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'22629'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'22629'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'10002', '22631'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'22631'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'22631'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'10002', '22659'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'22659'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'22659'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'10002', '22661'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'22661'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'22661'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'10002', '22726'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'22726'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'22726'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'10002', '22727'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'22727'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'22727'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'22728', '10002'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'22728'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'22728'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'10002', '22900'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'22900'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'22900'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'10002', 'POST'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'10002'}), items_add=frozenset({'POST'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'POST'}), items_add=frozenset({'10002'}), confidence=1.0, lift=10.0)])
RelationRecord(items=frozenset({'21068', '20679'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'20679'}), items_add=frozenset({'21068'}), confidence=1.0, lift=10.0), OrderedStatistic(items_base=frozenset({'21068'}), items_add=frozenset({'20679'}), confidence=1.0, lift=10.0)])

### Print top 10 rules with support, Confidence and Lift

In [22]:
i=0
for item in results:
  if i==10:
    break
  pair=item[0]
  items=[x for x in pair]
  print(items[0]+'->'+items[1])
  print("Support: " + str(item[1]))

  print("Confidence: " + str(item[2][0][2]))
  print("Lift: " + str(item[2][0][3]))
  print("===============================")
  i=i+1

10002->21035
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
10002->21724
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
21731->10002
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
10002->21791
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
10002->21883
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
21913->10002
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
10002->22326
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
22492->10002
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
10002->22540
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
10002->22544
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================

### All rules with 100% confidence

In [33]:
i=0
for item in results:
  if i==10:
    break
  pair=item[0]
  items=[x for x in pair]
  if item[2][0][2]==1:
    print(items[0]+'->'+items[1])
    print("Support: " + str(item[1]))

    print("Confidence: " + str(item[2][0][2]))
    print("Lift: " + str(item[2][0][3]))
    print("===============================")
    i=i+1

10002->21035
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
10002->21724
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
10002->21731
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
10002->21791
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
10002->21883
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
10002->21913
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
10002->22326
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
10002->22492
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
22540->10002
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================
10002->22544
Support: 0.1
Confidence: 1.0
Lift: 10.0
===============================

### Visualising the results

In [23]:
def inspect(results):
    lhs         = [tuple(result[2][0][0])[0] for result in results]
    rhs         = [tuple(result[2][0][1])[0] for result in results]
    supports    = [result[1] for result in results]
    confidences = [result[2][0][2] for result in results]
    lifts       = [result[2][0][3] for result in results]
    return list(zip(lhs, rhs, supports, confidences, lifts))
resultsinDataFrame = pd.DataFrame(inspect(results), columns = ['Left Hand Side', 'Right Hand Side', 'Support', 'Confidence', 'Lift'])
resultsinDataFrame

     Left Hand Side Right Hand Side  Support  Confidence  Lift
0             10002           21035      0.1         1.0  10.0
1             10002           21724      0.1         1.0  10.0
2             10002           21731      0.1         1.0  10.0
3             10002           21791      0.1         1.0  10.0
4             10002           21883      0.1         1.0  10.0
...             ...             ...      ...         ...   ...
2302         82494L          84406B      0.1         1.0   5.0
2303         84029E          84406B      0.2         1.0   5.0
2304         84029E          84029G      0.2         1.0   5.0
2305         84029E          84406B      0.2         1.0   5.0
2306         84029G          84406B      0.2         1.0   5.0

[2307 rows x 5 columns]