In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#considering less rows because of RAM constraints
data = pd.read_csv('Online Retail.csv', header = None, nrows=100)
data.shape

(100, 8)

In [ ]:
data.head()

           0          1  ...           6               7
0  InvoiceNo  StockCode  ...  CustomerID         Country
1     536365     85123A  ...       17850  United Kingdom
2     536365      71053  ...       17850  United Kingdom
3     536365     84406B  ...       17850  United Kingdom
4     536365     84029G  ...       17850  United Kingdom

[5 rows x 8 columns]

In [ ]:
df1 = data.groupby([data[0],data[4]])
df1.head()

            0          1  ...           6               7
0   InvoiceNo  StockCode  ...  CustomerID         Country
1      536365     85123A  ...       17850  United Kingdom
2      536365      71053  ...       17850  United Kingdom
3      536365     84406B  ...       17850  United Kingdom
4      536365     84029G  ...       17850  United Kingdom
5      536365     84029E  ...       17850  United Kingdom
8      536366      22633  ...       17850  United Kingdom
9      536366      22632  ...       17850  United Kingdom
10     536367      84879  ...       13047  United Kingdom
11     536367      22745  ...       13047  United Kingdom
12     536367      22748  ...       13047  United Kingdom
13     536367      22749  ...       13047  United Kingdom
14     536367      22310  ...       13047  United Kingdom
22     536368      22960  ...       13047  United Kingdom
23     536368      22913  ...       13047  United Kingdom
24     536368      22912  ...       13047  United Kingdom
25     536368      22914  ...       13047  United Kingdom
26     536369      21756  ...       13047  United Kingdom
27     536370      22728  ...       12583          France
28     536370      22727  ...       12583          France
29     536370      22726  ...       12583          France
30     536370      21724  ...       12583          France
31     536370      21883  ...       12583          France
47     536371      22086  ...       13748  United Kingdom
48     536372      22632  ...       17850  United Kingdom
49     536372      22633  ...       17850  United Kingdom
50     536373     85123A  ...       17850  United Kingdom
51     536373      71053  ...       17850  United Kingdom
52     536373     84406B  ...       17850  United Kingdom
53     536373      20679  ...       17850  United Kingdom
54     536373      37370  ...       17850  United Kingdom
66     536374      21258  ...       15100  United Kingdom
67     536375     85123A  ...       17850  United Kingdom
68     536375      71053  ...       17850  United Kingdom
69     536375     84406B  ...       17850  United Kingdom
70     536375      20679  ...       17850  United Kingdom
71     536375      37370  ...       17850  United Kingdom
83     536376      22114  ...       15291  United Kingdom
84     536376      21733  ...       15291  United Kingdom
85     536377      22632  ...       17850  United Kingdom
86     536377      22633  ...       17850  United Kingdom
87     536378      22386  ...       14688  United Kingdom
88     536378     85099C  ...       14688  United Kingdom
89     536378      21033  ...       14688  United Kingdom
90     536378      20723  ...       14688  United Kingdom
91     536378     84997B  ...       14688  United Kingdom

[46 rows x 8 columns]

In [ ]:
trans=[]
for name,group in df1:
  trans.append([str(group.values[j,2]) for j in range(group.shape[0])])  
len(trans)

15

In [ ]:
L1 = 0
L2 = 0
L3 = 0
L8 = 0
for i in range (len(trans)):
  if(len(trans[i]) == 1):
    L1+=1
  elif(len(trans[i]) == 2):
    L2+=1
  elif(len(trans[i]) == 3):
    L3+=1
  elif(len(trans[i]) == 8):
    L8+=1
L1, L2, L3, L8

(4, 4, 0, 0)

In [ ]:
def FindMaxLength(lt):
  maxList = max(lt, key = lambda i: len(i))
  maxLength = len(maxList)
  return i,maxLength

FindMaxLength(trans)

(14, 20)

In [ ]:
count = 0
for i in range (len(trans)):
  if(len(trans[i]) == 97):
    count=count+1
count

0

In [ ]:
!pip install apyori

Requirement already satisfied: apyori in /usr/local/lib/python3.7/dist-packages (1.1.2)

In [ ]:
from apyori import apriori
rules = apriori(transactions = trans, min_support = 0.001, min_confidence = 0.8, min_lift = 4,min_length=2,max_length=3)
results = list(rules)
print("{} rules are derived.".format(len(results)))

2672 rules are derived.

In [ ]:
for i in range(0, 10):
  print(results[i][0])

frozenset({'ALARM CLOCK BAKELIKE GREEN', ' SET 2 TEA TOWELS I LOVE LONDON '})
frozenset({' SET 2 TEA TOWELS I LOVE LONDON ', 'ALARM CLOCK BAKELIKE PINK'})
frozenset({' SET 2 TEA TOWELS I LOVE LONDON ', 'ALARM CLOCK BAKELIKE RED '})
frozenset({' SET 2 TEA TOWELS I LOVE LONDON ', 'CHARLOTTE BAG DOLLY GIRL DESIGN'})
frozenset({' SET 2 TEA TOWELS I LOVE LONDON ', 'CIRCUS PARADE LUNCH BOX '})
frozenset({'INFLATABLE POLITICAL GLOBE ', ' SET 2 TEA TOWELS I LOVE LONDON '})
frozenset({'LUNCH BOX I LOVE LONDON', ' SET 2 TEA TOWELS I LOVE LONDON '})
frozenset({'MINI JIGSAW CIRCUS PARADE ', ' SET 2 TEA TOWELS I LOVE LONDON '})
frozenset({'MINI JIGSAW SPACEBOY', ' SET 2 TEA TOWELS I LOVE LONDON '})
frozenset({' SET 2 TEA TOWELS I LOVE LONDON ', 'MINI PAINT SET VINTAGE '})

In [ ]:
for i in range(10) :
  ab = results[i][0]
  items = [x for x in ab]
  print(items[0]+' -> '+items[1])
  print("Support: " + str(results[i][1]))
  print("Confidence: " + str(results[i][2][0][2]))
  print("Lift: " + str(results[i][2][0][3]))
  print()

ALARM CLOCK BAKELIKE GREEN ->  SET 2 TEA TOWELS I LOVE LONDON
Support: 0.06666666666666667
Confidence: 1.0
Lift: 15.0

 SET 2 TEA TOWELS I LOVE LONDON  -> ALARM CLOCK BAKELIKE PINK
Support: 0.06666666666666667
Confidence: 1.0
Lift: 15.0

 SET 2 TEA TOWELS I LOVE LONDON  -> ALARM CLOCK BAKELIKE RED
Support: 0.06666666666666667
Confidence: 1.0
Lift: 15.0

 SET 2 TEA TOWELS I LOVE LONDON  -> CHARLOTTE BAG DOLLY GIRL DESIGN
Support: 0.06666666666666667
Confidence: 1.0
Lift: 15.0

 SET 2 TEA TOWELS I LOVE LONDON  -> CIRCUS PARADE LUNCH BOX
Support: 0.06666666666666667
Confidence: 1.0
Lift: 15.0

INFLATABLE POLITICAL GLOBE  ->  SET 2 TEA TOWELS I LOVE LONDON
Support: 0.06666666666666667
Confidence: 1.0
Lift: 15.0

LUNCH BOX I LOVE LONDON ->  SET 2 TEA TOWELS I LOVE LONDON
Support: 0.06666666666666667
Confidence: 1.0
Lift: 15.0

MINI JIGSAW CIRCUS PARADE  ->  SET 2 TEA TOWELS I LOVE LONDON
Support: 0.06666666666666667
Confidence: 1.0
Lift: 15.0

MINI JIGSAW SPACEBOY ->  SET 2 TEA TOWELS I LOVE LONDON
Support: 0.06666666666666667
Confidence: 1.0
Lift: 15.0

 SET 2 TEA TOWELS I LOVE LONDON  -> MINI PAINT SET VINTAGE
Support: 0.06666666666666667
Confidence: 1.0
Lift: 15.0

In [ ]:
def check(results):
  lhs = [tuple(i[2][0][0])[0] for i in results]
  rhs = [tuple(i[2][0][1])[0] for i in results]
  s = [i[1] for i in results]
  c = [i[2][0][2] for i in results]
  l = [i[2][0][3] for i in results]
  return list(zip(lhs, rhs, s, c, l))
  
resultsDF = pd.DataFrame(check(results), columns = ['Left Hand Side', 'Right Hand Side', 'Support','Confidence', 'Lift'])

In [ ]:
print(resultsDF.nlargest(n = 10, columns = 'Lift'))

                     Left Hand Side  ...  Lift
0   SET 2 TEA TOWELS I LOVE LONDON   ...  15.0
1   SET 2 TEA TOWELS I LOVE LONDON   ...  15.0
2   SET 2 TEA TOWELS I LOVE LONDON   ...  15.0
3   SET 2 TEA TOWELS I LOVE LONDON   ...  15.0
4   SET 2 TEA TOWELS I LOVE LONDON   ...  15.0
5   SET 2 TEA TOWELS I LOVE LONDON   ...  15.0
6   SET 2 TEA TOWELS I LOVE LONDON   ...  15.0
7   SET 2 TEA TOWELS I LOVE LONDON   ...  15.0
8   SET 2 TEA TOWELS I LOVE LONDON   ...  15.0
9   SET 2 TEA TOWELS I LOVE LONDON   ...  15.0

[10 rows x 5 columns]

In [ ]:
def inspect(results):
    lhs         = [tuple(result[2][0])[0] for result in results]
    rhs         = [tuple(result[2][0])[1] for result in results]
    supports    = [result[1] for result in results]
    confidences = [result[2][0][2] for result in results]
    lifts       = [result[2][0][3] for result in results]
    return list(zip(lhs, rhs, supports, confidences, lifts))
resultsinDataFrame = pd.DataFrame(inspect(results), columns = ['Left Hand Side', 'Right Hand Side', 'Support', 'Confidence', 'Lift'])

In [ ]:
resultsDF

                          Left Hand Side  ...  Lift
0        SET 2 TEA TOWELS I LOVE LONDON   ...  15.0
1        SET 2 TEA TOWELS I LOVE LONDON   ...  15.0
2        SET 2 TEA TOWELS I LOVE LONDON   ...  15.0
3        SET 2 TEA TOWELS I LOVE LONDON   ...  15.0
4        SET 2 TEA TOWELS I LOVE LONDON   ...  15.0
...                                  ...  ...   ...
2667         WOODEN FRAME ANTIQUE WHITE   ...   7.5
2668  WOOD 2 DRAWER CABINET WHITE FINISH  ...   7.5
2669  WOOD 2 DRAWER CABINET WHITE FINISH  ...   7.5
2670  WOOD 2 DRAWER CABINET WHITE FINISH  ...   7.5
2671   WOOD S/3 CABINET ANT WHITE FINISH  ...   7.5

[2672 rows x 5 columns]

In [ ]:
resultsDF['Right Hand Side'].unique()

array(['ALARM CLOCK BAKELIKE GREEN', 'ALARM CLOCK BAKELIKE PINK',
       'ALARM CLOCK BAKELIKE RED ', 'CHARLOTTE BAG DOLLY GIRL DESIGN',
       'CIRCUS PARADE LUNCH BOX ', 'INFLATABLE POLITICAL GLOBE ',
       'LUNCH BOX I LOVE LONDON', 'MINI JIGSAW CIRCUS PARADE ',
       'MINI JIGSAW SPACEBOY', 'MINI PAINT SET VINTAGE ',
       'PANDA AND BUNNIES STICKER SHEET', 'POSTAGE',
       'RED TOADSTOOL LED NIGHT LIGHT',
       'ROUND SNACK BOXES SET OF4 WOODLAND ',
       'SET/2 RED RETROSPOT TEA TOWELS ', 'SPACEBOY LUNCH BOX ',
       'STARS GIFT TAPE ', 'VINTAGE HEADS AND TAILS CARD GAME ',
       'VINTAGE SEASIDE JIGSAW PUZZLES',
       'BOX OF 6 ASSORTED COLOUR TEASPOONS',
       'BOX OF VINTAGE ALPHABET BLOCKS', 'BOX OF VINTAGE JIGSAW BLOCKS ',
       'DOORMAT NEW ENGLAND', 'FELTCRAFT PRINCESS CHARLOTTE DOLL',
       'HOME BUILDING BLOCK WORD', 'IVORY KNITTED MUG COSY ',
       'LOVE BUILDING BLOCK WORD', "POPPY'S PLAYHOUSE BEDROOM ",
       "POPPY'S PLAYHOUSE KITCHEN", 'RECIPE BOX WITH METAL HEART',
       'JUMBO  BAG BAROQUE BLACK WHITE',
       'JUMBO BAG CHARLIE AND LOLA TOYS', 'JUMBO BAG PINK POLKADOT',
       'LUNCH BAG RED RETROSPOT', 'LUNCH BOX WITH CUTLERY RETROSPOT ',
       'PACK OF 60 DINOSAUR CAKE CASES',
       'PACK OF 60 PINK PAISLEY CAKE CASES',
       'PACK OF 72 RETROSPOT CAKE CASES',
       'RED 3 PIECE RETROSPOT CUTLERY SET',
       'SET/6 RED SPOTTY PAPER PLATES', 'STRAWBERRY CHARLOTTE BAG',
       'STRAWBERRY LUNCH BOX WITH CUTLERY', 'JAM MAKING SET WITH JARS',
       'RED COAT RACK PARIS FASHION', 'YELLOW COAT RACK PARIS FASHION',
       'CREAM CUPID HEARTS COAT HANGER',
       'GLASS STAR FROSTED T-LIGHT HOLDER',
       'KNITTED UNION FLAG HOT WATER BOTTLE',
       'RED WOOLLY HOTTIE WHITE HEART.', 'SET 7 BABUSHKA NESTING BOXES',
       'WHITE HANGING HEART T-LIGHT HOLDER', 'WHITE METAL LANTERN',
       'RETRO COFFEE MUGS ASSORTED', 'SAVE THE PLANET MUG',
       'VINTAGE BILLBOARD DRINK ME MUG',
       'VINTAGE BILLBOARD LOVE/HATE MUG',
       'WOOD 2 DRAWER CABINET WHITE FINISH',
       'WOOD S/3 CABINET ANT WHITE FINISH', 'WOODEN FRAME ANTIQUE WHITE ',
       'WOODEN PICTURE FRAME WHITE FINISH', 'HAND WARMER UNION JACK',
       'RED HANGING HEART T-LIGHT HOLDER'], dtype=object)

In [ ]:
resultsDF[resultsDF['Right Hand Side']=='ALARM CLOCK BAKELIKE GREEN']['Left Hand Side'].unique().tolist()

[' SET 2 TEA TOWELS I LOVE LONDON ']

In [ ]:
resultsDF[resultsDF['Left Hand Side']=='ALARM CLOCK BAKELIKE GREEN']['Right Hand Side'].unique().tolist()

['ALARM CLOCK BAKELIKE PINK',
 'ALARM CLOCK BAKELIKE RED ',
 'CHARLOTTE BAG DOLLY GIRL DESIGN',
 'CIRCUS PARADE LUNCH BOX ',
 'INFLATABLE POLITICAL GLOBE ',
 'LUNCH BOX I LOVE LONDON',
 'MINI JIGSAW CIRCUS PARADE ',
 'MINI JIGSAW SPACEBOY',
 'MINI PAINT SET VINTAGE ',
 'PANDA AND BUNNIES STICKER SHEET',
 'POSTAGE',
 'RED TOADSTOOL LED NIGHT LIGHT',
 'ROUND SNACK BOXES SET OF4 WOODLAND ',
 'SET/2 RED RETROSPOT TEA TOWELS ',
 'SPACEBOY LUNCH BOX ',
 'STARS GIFT TAPE ',
 'VINTAGE HEADS AND TAILS CARD GAME ',
 'VINTAGE SEASIDE JIGSAW PUZZLES']